:root{
    --hover-color: #E3F2FD;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    
}

a{
    text-decoration: none;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #F8F9FA;
    color: #333333;
    
   
}

.top-nav{
    display: flex;
   
    min-width: 200px;
    min-height: 50px;
    flex-wrap: wrap
}

h1{
    flex: 1.75;
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
}

.darkBox a{
    display: flex;
    align-items: center;
    transition: all .5s ease;
    border-radius: 2rem;
    padding: 10px;
    
}

.darkBox a:hover {
    background-color: var(--hover-color);
    border-radius: 2rem;
    padding: 10px;
   
    
}

#search-div {
    display: flex;
   justify-content: space-evenly;
  
   min-width: 200px;
   min-height: 30px;
    
}

.recent-searchs {
   display: flex;
   justify-content: center;
   padding-top: 20px;
   min-width: 200px;
   min-height: 20px;
   align-items: center;
    
}

input{
    display: flex;
    justify-content: center;
    width: 40%;
    outline: none;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    border: none;
    padding-left: 7px;
    
}
input:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2)
}
button {
    background-color: white;
    border: none;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    
    transition: all .5s ease;
}

button:hover {
    cursor: pointer;
    background-color: #E3F2FD;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2)
}



.input-stuff { 
    display: flex;
    flex: 1.3;
    justify-content: center;
}

.recent-a a {
    color: #64ffda;
    padding: 8px;
    
    border-radius: 2rem;
}

.recent-a a:hover {
    background-color: var(--hover-color);
    border-radius: 2rem;
    transition: all .7s ease;
  }


#main {
display: flex;
justify-content: space-around;
padding-top: 30px
}

#left-panel {
    border: 1px solid black;
    height: 300px;
    width: 300px;
}

#right-panel { 
     border: 1px solid black;
    height: 300px;
    width: 300px;
}

#right-panel h3 {
    display: flex;
    justify-content: center;
    font-size: 15px;
}




 ul {
    display: block;
    list-style: none;
    height: 120px;
 }

 h4 {
    display: flex;
    justify-content: center;
 }

 .forecastDiv {
    display: flex;
    justify-content: center;
    font-size: 10px;
 }

 