body {
    background-color: #0A192F;
    color: #64FFDA;
    
}

h1 {
    display: flex;
    justify-content: center;
}

#search-div {
    display: flex;
    justify-content: center;
    
}

#main {
display: flex;
justify-content: space-around;
padding-top: 30px
}

#left-panel {
    border: 1px solid black;
    height: 300px;
    width: 300px;
}

#right-panel { 
     border: 1px solid black;
    height: 300px;
    width: 300px;
}

#right-panel h3 {
    display: flex;
    justify-content: center;
    font-size: 15px;
}




 ul {
    display: block;
    list-style: none;
    height: 120px;
 }

 h4 {
    display: flex;
    justify-content: center;
 }

 .forecastDiv {
    display: flex;
    justify-content: center;
    font-size: 10px;
 }

 